.contacts {
    font-size: 18px;
    position: relative;
    line-height: 1;
    margin-left: 68px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 14px;
        top: 1px;
        left: -20px;
        background: url(../img/number/number.svg);
    }
}