.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;

    &__label-item {
        margin-right: 25px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__name-input {
        width: 222px;
    }

    &__street-input {
        width: 460px;
    }

    &__house-input {
        width: 105px;
    }

    &__textarea {
        margin-bottom: 38px;
    }

    .textarea {
        width: 450px;
        height: 150px;
        resize: none;
    }

    &__checkbox-input {
        border-radius: 2px;
    }

    &__radio {
        margin-bottom: 20px;

        &-list {
            display: flex;
        }

        &-item {
            margin-right: 16px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-right: 0px;
            }
        }

        &-title {
            margin-left: 10px;
        }
    }

    &__checkbox {
        margin-bottom: 48px;

        &-list {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;
            margin-right: 16px;

            &:last-child {
                margin-right: 0px;
            }
        }

        &-title {
            margin-left: 10px;
        }
    }
}

.input--height {
    height: 58px;
}

.input--border {
    border: 3px solid transparent;
    border-radius: 4px;

    &:focus {
        border: 3px solid #E01F3D;
    }
}

.button--size {
    padding: 21px 42px;
}

.button--reset {
    padding: 0px;
    background: none;
    font-size: 16px;
    text-transform: inherit;
    font-weight: 400;
    margin-left: 15px;
}

.form__label input[type="radio"] {
    display: none;
}


.form__label .form__radio-checked:before {
    content: " ";
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #FFF;
    border-radius: 50%;
}

.form__label input:checked+.form__radio-checked:before {
    background: url(../img/form/ellipse2.png) center center no-repeat;
    background-color: #FFF;
}

.form__label input:disabled+.form__radio-checked:before {
    background: #fff;
}

.form__label input[type="checkbox"] {
    display: none;
}

.form__label .form__checkbox-checked:before {
    content: " ";
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #FFF;
}

.form__label input:checked+.form__checkbox-checked:before {
    background: url(../img/form/Vector1.png) center center no-repeat;
    background-color: #FFF;
}

.form__label input:disabled+.form__checkbox-checked:before {
    background: #FFF;
}

.form__label--position {
    display: flex;
}