.hamburger {
    width: 26px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    position: fixed;
    top: 4%;
    right: 2%;

    @include tablets {
        z-index: 10000;
    }

    @include tablets {
        display: inline-flex;
    }

    &__line {
        display: block;
        background: #292929;
        height: 4px;
        border-radius: 10px;
    }
}