.order {
    background: #181818;
    margin-top: 63px;

    &__container {
        width: 940px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        color: #fff;
        padding-top: 68px;
        padding-bottom: 58px;
    }
}