.order {
    background: #181818;

    &__container {
        width: 940px;
        margin: 0 auto;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        color: #fff;
        padding-top: 68px;
        padding-bottom: 58px;
    }
}