.pagination {
    position: fixed;
    top: 25%;
    right: 23%;

    .pagination__item {
        margin-bottom: 5px;

        &--active {
            .pagination__link {
                border-color: red;
                opacity: 1;

                &:before {
                    background-color: red;
                    opacity: 1;
                }
            }
        }

    }

    .pagination__link {
        width: 18px;
        height: 18px;
        display: block;
        background: none;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        opacity: 0.6;

        &:before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background: #292929;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
}