.presentation {
    padding-top: rem(86px);
    background: #F5F5F5;
    padding-bottom: rem(86px);

    &__content {

        @include tablets {
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:before {
                content: url(../img/presentation768/Ellipse5.png);
                margin-bottom: rem(64px);
            }

        }
    }

    &__container {
        width: 95%;
        max-width: $containerwidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__title {
        margin-bottom: rem(22px);
        max-width: rem(400px);

        @include phones {
            padding-left: 40px;
            padding-right: 40px;
            line-height: 1;
        }


        @include tablets {
            max-width: rem(650px);
            margin-bottom: rem(5px);
        }

        @include phones {
            margin-bottom: 14px;
        }
    }

    &__subtitle {
        font-family: "alegreya", Helvetica, sans-serif;
        font-size: rem(21px);
        line-height: rem(25px);
        margin-bottom: rem(54px);
        max-width: rem(340px);

        @include tablets {
            margin-bottom: rem(44px);
        }

        @include phones {
            margin-bottom: rem(47px);
        }
    }

    &__button {
        margin-bottom: rem(88px);

        @include tablets {
            margin-bottom: rem(0px);
        }

        @include phones {
            margin-bottom: rem(0px);
        }
    }

    &__photo {

        @include tablets {
            display: none;
        }
    }
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(52px);

    @include phones {
        font-size: 32px;
    }
}