.reviews {
    margin-top: 64px;

    &__container {
        width: 913px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        margin-top: 32px;
        display: flex;
        align-items: center;
        background: #F8FAF9;
        min-height: 248px;
        padding: 42px 20px 42px 42px;
    }

    &__content-description {
        margin-left: 38px;

        &-title {
            font-size: 24px;
            font-weight: 700;
        }

        &-subtitle {
            color: #666666;
            margin-top: 27px;
        }

        &-name {
            font-size: 18px;
            font-weight: 700;
            margin-top: 38px;
        }
    }

    .reviews__switch {
        margin-top: 15px;

        &-list {
            display: flex;
        }

        &-item {
            margin-right: 7px;

            &:last-child {
                margin-right: 0px;
            }
        }

        &-item {
            &--active {
                .reviews__switch-img {
                    border: 4px solid #E01F3D;
                }
            }
        }

        &-img {
            height: 74px;
            width: 74px;
            border-radius: 50%;
            border: 4px solid transparent;
        }
    }
}