@font-face {
    font-family: "play";
    src: url(fonts/Play-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "play";
    src: url(fonts/Play-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url(fonts/AlegreyaSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url(fonts/AlegreyaSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}