// width
$containerwidth: 940px;
$basefontsize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//function
@import "./layout/media";

/* Layout */
@import "./layout/base";

/* header */
@import "./blocks/header";
@import "./blocks/menu";
@import "./blocks/contacts";
/* hamburger */
@import "./blocks/hamburger";

/* presentation */
@import "./blocks/presentation";
@import "./blocks/button";
@import "./blocks/features";

/* description */
@import "./blocks/description";
/* reviews */
@import "./blocks/reviews";
/* order */
@import "./blocks/order";
@import "./blocks/form";
/* map */
@import "./blocks/map";
/* footer */
@import "./blocks/footer";
@import "./blocks/socials";
/* pagination */
@import "./blocks/pagination";